@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(73, 75, 75, 0.75), rgba(75, 74, 74, 0.75)) ,url(bg.png);
    background-size: cover;
    background-position: center;
}
nav {
	position: relative;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	/* background-color: #05b2dd; */
}
nav .logo {
	float: left;
	width: 99px;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links li .userr{
  width: 35px;
  height: 35px;
}
nav .links a {
	display: block;
	/* padding: 1em; */
  padding: 5px;
  margin: 15px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
  transition: 0.3s;
}
nav .links a:hover{
  color: #0ed145;
  background-color: #fff;
  border-radius: 8px;
  
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 1168px) {
	nav .logo {
		float: none;
		width: 20%;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
/* ----------------------
NavBar Ended
------------------------- */

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(255, 255, 255);
}
.content h1{
  font-size: 70px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.btnn button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ebf3a0;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btnn span{
  background: #0ed145;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.btnn button:hover span{
  width: 100%;
  border: none;
}


/*--------------------------------------------------------------
          #SECTION 1 ABOUT
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }  
  .section-bg {
    background-color: #f3f5fa;
  }  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
  }  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }


 .about-img{
    display: flex;
    align-items: center;
    position: relative;
 }
 .about-img li{
     width: 100%;
     margin-left: 70px;
     list-style: none;
     padding-top: 20px;     
 }
 .about-img li img{
  width: 150px;
 }
.about-img li img:hover{
	color: #24262b;
	background-color: #ffffff;
}
 .about-img ul li p{
     text-align: justify;
 }
 
 

/* ==Page 2 Heading 2=== */
.container .page2h2{
  padding-top: 20px;
}
.page2div1{
  height: 100%;
  width: 50%;
  float: right;
  text-align: justify;
  font-size: 19px;
}
.page2div2{
  width: 50%;
  height: 45vh;
  float: left;
  /* object-fit: cover; */
}
.page2div2 .img{
  width: 10px;
  object-fit: contain;
  height: 10%;
}
.page3head3{
  padding: 20px;
  overflow: hidden;
  align-items: center;
}
.page3{
    height: auto;
    width: auto;
    /* background-color: rgb(235, 252, 235); */
    margin-bottom: 0;
}
.page3 .hh3{
  text-align: center;
}
/* --------------------------------------
           About  section ended
  ----------------------------------------- */


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222;
}
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
} 
.contact .php-email-form button[type="submit"] {
  background: #3498db;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #2383c4;
}
/*--------------------------------------------------------------
# Contact Ended
--------------------------------------------------------------*/


/* --------------------------------------
           #FOOTER STARTED
  ----------------------------------------- */
.main {
  max-height: 550px;;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
 }
 footer{
  /* position: fixed; */
  bottom: 0;
 }
 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  /* font: normal 36px 'Cookie', cursive; */
  font: normal 36px cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #0ed145;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }
/* -----------------------------------------
           #FOOTER ENDED
  ----------------------------------------- */ 


